[submodule "pack/alan/opt/asciidoc-vim"]
	path = pack/alan/opt/asciidoc-vim
	url = https://github.com/dagwieers/asciidoc-vim.git
[submodule "pack/alan/opt/vim-ruby-minitest"]
	path = pack/alan/opt/vim-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest.git
[submodule "pack/alan/start/vim-repeat"]
	path = pack/alan/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/alan/start/vim-rake"]
	path = pack/alan/start/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "pack/alan/start/ctrlp-py-matcher"]
	path = pack/alan/start/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "pack/alan/start/ctrlp-cmatcher"]
	path = pack/alan/start/ctrlp-cmatcher
	url = https://github.com/JazzCore/ctrlp-cmatcher
[submodule "pack/alan/start/ctrlp.vim"]
	path = pack/alan/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
