[submodule "tmux.d/tmux-colors-solarized"]
	path = tmux.d/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
