[submodule "pack/mattn/start/emmet-vim"]
	path = pack/mattn/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/racer-rust/start/vim-racer"]
	path = pack/racer-rust/start/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "pack/scrooloose/start/syntastic"]
	path = pack/scrooloose/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "pack/sheerun/start/vim-polyglot"]
	path = pack/sheerun/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/tpope/start/vim-endwise"]
	path = pack/tpope/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/tpope/start/vim-tbone"]
	path = pack/tpope/start/vim-tbone
	url = https://github.com/tpope/vim-tbone
[submodule "pack/tpope/start/vim-unimpaired"]
	path = pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/xolox/start/vim-easytags"]
	path = pack/xolox/start/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "pack/xolox/start/vim-misc"]
	path = pack/xolox/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "pack/altercation/start/vim-colors-solarized"]
	path = pack/altercation/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/sjl/start/badwolf"]
	path = pack/sjl/start/badwolf
	url = https://github.com/sjl/badwolf
[submodule "pack/sunaku/opt/vim-ruby-minitest"]
	path = pack/sunaku/opt/vim-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest
[submodule "pack/dagwieers/opt/asciidoc-vim"]
	path = pack/dagwieers/opt/asciidoc-vim
	url = https://github.com/dagwieers/asciidoc-vim
[submodule "pack/majutsushi/opt/tagbar"]
	path = pack/majutsushi/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/mileszs/opt/ack.vim"]
	path = pack/mileszs/opt/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "pack/scrooloose/opt/nerdtree"]
	path = pack/scrooloose/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/sjl/opt/gundo.vim"]
	path = pack/sjl/opt/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "pack/JazzCore/start/ctrlp-cmatcher"]
	path = pack/JazzCore/start/ctrlp-cmatcher
	url = https://github.com/JazzCore/ctrlp-cmatcher
[submodule "pack/ctrlpvim/start/ctrlp.vim"]
	path = pack/ctrlpvim/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/tpope/start/vim-rake"]
	path = pack/tpope/start/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "pack/tpope/start/vim-repeat"]
	path = pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/Shougo/start/neocomplete.vim"]
	path = pack/Shougo/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "pack/SirVer/start/ultisnips"]
	path = pack/SirVer/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/airblade/start/vim-gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/christoomey/start/vim-tmux-navigator"]
	path = pack/christoomey/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/godlygeek/start/tabular"]
	path = pack/godlygeek/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/honza/start/vim-snippets"]
	path = pack/honza/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/FelikZ/start/ctrlp-py-matcher"]
	path = pack/FelikZ/start/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
[submodule "pack/Shougo/start/neosnippet.vim"]
	path = pack/Shougo/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "pack/Shougo/start/neosnippet-snippets"]
	path = pack/Shougo/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "pack/Shougo/opt/neocomplete.vim"]
	path = pack/Shougo/opt/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "pack/Shougo/opt/deoplete.nvim"]
	path = pack/Shougo/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "pack/a/opt/nerdcommenter"]
	path = pack/a/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/a/opt/elm-vim"]
	path = pack/a/opt/elm-vim
	url = https://github.com/ElmCast/elm-vim
